<div *ngIf=!loading class="content">
    <mat-grid-list cols="{{service.updateOn ? 2 : 1}}" rowHeight="650px">
        <mat-grid-tile>
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>
                        {{vehicle.id}}
                    </mat-card-title>
                    <div style="width: 50%;">
                        <mat-select [(value)]="availability" matInput
                            (selectionChange)="handleAvailabilityChange(vehicle.id, $event.value)"
                            class="mat-select-content {{availability ? 'available' : 'unavailable'}}">
                            <mat-option [value]="true">AVAILABLE</mat-option>
                            <mat-option [value]="false">UNAVAILABLE</mat-option>
                        </mat-select>
                    </div>
                    <div class="fill-remaining-space"></div>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                        <mat-icon>{{vehicle.isVisible ? "visibility" : "visibility_off"}}</mat-icon>
                    </button>
                </mat-card-header>
                <img mat-card-image src="{{vehicle.imageUrl}}">
                <mat-card-content>
                    <p>
                        <span>Charge: </span>
                        <span>{{vehicle.charge}}</span>
                    </p>
                    <p>
                        <span>{{vehicle.description}}</span>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="update" (click)="updateVehicle()" *ngIf=!service.updateOn>UPDATE</button>
                    <button mat-button class="delete" (click)="deleteVehicle()">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div *ngIf=loading>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-clip-rotate-pulse"
        [fullScreen]="true">
        <p style="color: white; margin-top: 25px;"> Loading... </p>
    </ngx-spinner>
</div>