<div *ngIf=!loading class="content">
    <mat-grid-list cols="{{service.updateOn ? 2 : 1}}" rowHeight="650px">
        <mat-grid-tile>
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Vehicle ID - {{vehicle.id}}
                        <a *ngIf="vehicle.isAvailable">
                            <button mat-button class="available">AVAILABLE</button>
                        </a>
                        <a *ngIf="!vehicle.isAvailable">
                            <button mat-button class="unavailable">UNAVAILABLE</button>
                        </a>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{vehicle.imageUrl}}">
                <mat-card-content>
                    <p>
                        <span>{{vehicle.description}}</span>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="update" (click)="updateVehicle()" *ngIf=!service.updateOn>UPDATE</button>
                    <button mat-button class="delete" (click)="deleteVehicle()">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div *ngIf=loading>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-clip-rotate-pulse"
        [fullScreen]="true">
        <p style="color: white; margin-top: 25px;"> Loading... </p>
    </ngx-spinner>
</div>