<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let user of users">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>User ID - {{user.id}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{user.avatar_url}}">
                <mat-card-content>
                    <p>
                        Name :
                        <span>{{user.login}}</span>
                    </p>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>