<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let vehicle of vehicles">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Vehicle ID - {{vehicle.id}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{vehicle.imageUrl}}">
                <mat-card-content>
                    <p>
                        <span>{{vehicle.description}}</span>
                        <button mat-button>Available</button>
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Show</button>
                    <button mat-button>Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>